In [ ]:
#_______________________________________ASSIGNMENT(1)_______________________________________

In [ ]:
#------------------------------------input and printing-----------------------------------------------

In [ ]:
i=input("enter your name : ")
print("welcome to pythin ", i)

welcome to pythin  harshit attri

In [3]:
a=int(input("enter first number : "))
b=int(input("enter second number : "))

i=a+b
print(i)

q=a-b
print(q)

p=a*b
print(p)

t=a/b
print(t)

7
3
10
2.5

In [5]:
l=int(input("enter the lenght : "))
b=int(input("enter the breadth : "))

area=l*b
print("area of rectangle : ",area,"cm^2")

area of rectangle :  10 cm^2

In [6]:
i=int(input("enter the age of the voter : "))
if i<18:
    print("ineligible to vote!!")
else:
    print("eligible to vote!!")

eligible to vote!!

In [8]:
i=float(input("enter the temperature in celsius : "))
f=(i*9/5)+32
print("temperature in fahrenhiet : ", f,"f")

temperature in fahrenhiet :  73.4 f

In [ ]:
#---------------------------------------if,else----------------------------------------------

In [11]:
i=int(input("enter the number : "))
if i>0:
    print("number is positive")

elif i<0:
    print("number is negative")

else:
    print("number is zero")

number is positive

In [14]:
a=int(input("first no. : "))
print(a)
b=int(input("second no. : "))
print(b)
c=int(input("third no. : "))
print(c)

if a>b and a>c:
    print("first number is largest .")

elif b>a and b>c:
    print("second number is largest .")

else:
    print(" third number is largest .")

6
4
5
first number is largest .

In [17]:
i=int(input("enter number : "))
if i%2==0:
    print('number is even!!')
else:
    print("number is odd!!")

number is even!!

In [5]:
i=int(input("enter the number : "))
if (i%400==0) or (i%4==0 and i%100!=0):
    print("leap year")
else:
    print("not a leap year .")

leap year

In [6]:
u=input("enter username : ")
p=int(input("enter password : "))
if u=="ram123" and p==123:
    print("succesfully logged in!!")

else:
    ("invalid credentials")

succesfully logged in!!

In [ ]:
#--------------------------loops--------------------------------

In [7]:
for i in range (1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [8]:
i=int(input("enter number : "))
for j in range(1,11):
    print(i,"*",j,"=",i*j)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [6]:
i=int(input("enter the number : "))
sum=0
for j in range(1,i+1):
    sum=sum+j
print(sum)

55

In [22]:
for i in range(1,51):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [5]:
i=int(input("enter the number : "))
fac=1
for j in range(1,i+1):
    fac=fac*j
print("factorial of ", i,"is",fac)

factorial of  10 is 3628800

In [ ]:
#----------------------------------------loops on list---------------------------------------

In [7]:
l=["1","2","3"]
for i in l:
    print(i)

1
2
3

In [11]:
l=["1","4","6","3","8","0"]
print("largest number : ",max(l),"\t","smallest number : ",min(l))

largest number :  8 	 smallest number :  0

In [18]:
l=[1,2,3,4,5]
sum=0
for i in range(len(l)):
    sum+=l[i]
print("sum of elements in the list : ",sum)
print("average of the elements of teh list : ",sum/(len(l)))

sum of elements in the list :  15
average of the elements of teh list :  3.0

In [35]:
l=[1,2,3,4,5]
l.reverse()
print(l)

[5, 4, 3, 2, 1]

In [38]:
l=[1,2,3,4,5]
l1=[]
for i in l:
    l1.insert(0,i)#here we are adding i(value) at zero position of the empty list pushing the last added element to right 
    print(l1)

[1]
[2, 1]
[3, 2, 1]
[4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [42]:
t=(1,2,3,4,5)

for i in range(len(t)):
    print("element",t[i],"at",i,"index")

element 1 at 0 index
element 2 at 1 index
element 3 at 2 index
element 4 at 3 index
element 5 at 4 index

In [ ]:
#---------------------------------------------functions----------------------------------------------

In [45]:
def sqr():
    i=int(input("enter the number : "))
    square=i**2
    print(square)

sqr()

81

In [51]:
def fac():
    i=int(input("enter the number : "))
    fac=1
    for j in range(1,i+1):
     fac=fac*j
    print("factorial of ", i,"is",fac)

fac()

factorial of  9 is 362880

In [54]:
def numbers():
    i=int(input("enter first no. : "))
    print(i)
    j=int(input("enter second no. : "))
    print(j)
    t=int(input("enter third no. : "))
    print(t)

    if i>j and i>t:
        print("first number is largest : ",i)

    elif j>i and j>t:
        print("second number is largest : ",j)

    else:
        print("third number is largest : ",t)


numbers()

239
237
270
third number is largest :  270

In [ ]:
#--------------------------------------------------classes---------------------------------------------

In [55]:
class student():
    def __init__(self,name,age,marks):
        self.a=name
        self.b=age
        self.c=marks

x=student('harshit',23,500)
print("name : ",x.a)
print("age : ",x.b)
print("marks : ",x.c)

name :  harshit
age :  23
marks :  500

In [60]:
class calculator():
    def __init__(self,i,j):
        self.a=i
        self.b=j
    def add(self):
        i=int(input("enter the first number : "))
        j=int(input("enter the second number : "))
        print("additive result is : ",i+j)
    def sub(self):
        i=int(input("enter the first number "))
        j=int(input("ente rthe second number"))
        print("difference is : ", i-j)
    def mul(self):
        print("multipication result : ",i*j)
    def div(self):
        print("result is : ", i/j)


while True:
    
    print('''
    1. add
    2. Deposite
    3. multiplication
    4. division
    5. exit    ''')
    c=int(input("enter the choice : "))

    
   
    obj=calculator(i,j)
    
    if c==1:
        obj.add()
    elif c==2:
        obj.sub()
    elif c==3:
        obj.mul()
    elif c==4:
        obj.div()
    elif c==5:
        print("exit...")
        break
    else:
        print("invalid choice")

    1. add
    2. Deposite
    3. multiplication
    4. division
    5. exit
exit...

In [62]:
class BankAccount():

    def __init__(self):
        self.balance=1000

    def deposite(self):
        amount = int(input('enter your amount to deposite : '))
        totalamount =amount+ self.balance
        self.balance = totalamount

        print('Your updated balance is : ', totalamount)     
    
    
    def withdraw(self):
        amount = int(input('enter your amount to withdraw : '))

        if amount <= self.balance:

           self.balance -= amount
           print('Your balance afte withdrawing is : ',  self.balance)     
        else:
            print('Insuffecent balance!!')


    
f=BankAccount()
        
while True:

        print('''
            1. Deposite
            2. Withdraw
            3. Exit    ''')

        choice = int(input('enter your choice : '))

        if choice == 1:
            f.deposite()

        elif choice == 2:
            f.withdraw()

        
        elif choice == 3:
            print('Exit....')
            break

        else:
            print('Invalid choice!!')
            choice = int(input('enter your choice : '))

            1. Deposite
            2. Withdraw
            3. Exit
Your updated balance is :  1002

            1. Deposite
            2. Withdraw
            3. Exit
Your balance afte withdrawing is :  502

            1. Deposite
            2. Withdraw
            3. Exit
Your updated balance is :  505

            1. Deposite
            2. Withdraw
            3. Exit
Exit....

In [ ]:
#----------------------------------------inheritence-----------------------------------------

In [68]:
class person():
    def name(self):
        i=input("enter the name : ")
        print("name : ",i)


class employee(person):
    def company(self):
        j=input("employed in : ")
        print("company : ", j)

#bj=person()
obj1=employee()

obj1.name()
obj1.company()

name :  Harshit Attri
company :  Google

In [ ]:
#polymorphism 
class dog:
    def sound(self):
        print('bark')

class cat():
    def sound(self):
        print('meou')

class bird():
    def sound(self):
        print("chirp")

class goat():
    def sound(self):
        print("mehh...")


a=dog()
b=cat()
c=bird()
d=goat()

a.sound()
b.sound()
c.sound()
d.sound()

bark
meou
chirp
mehh...

In [ ]:
#---------------------------------------------file handling------------------------------------------

In [70]:
with open('new1.txt','w') as file:
    file.write('my name harshit')

In [71]:
with open('new1.txt','r') as file:
    i=file.read()
    print(i)

my name harshit

In [72]:
with open('new1.txt','a') as file:
    file.writelines("\n i am the best of the best." )

In [73]:
with open('new1.txt','r') as file:
    i=file.read()
    print(i)

my name harshit
 i am the best of the best.